---
import Header from '@/components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '@/consts';
import BasicLayout from '@/layouts/BasicLayout/BasicLayout.astro';
import { getCollection } from 'astro:content';
import FormattedDate from '@/components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BasicLayout metadata={{ title: SITE_TITLE, description: SITE_DESCRIPTION }}>
	<Header />
	<main class="h-[calc(100%-64px)]">
		<section class="mx-auto lg:px-12 max-w-screen-lg pb-4">
			<div class="h-10"></div>
			<ul>
				{
					posts.map((post, idx) => (
						<li class=" px-4 cursor-pointer hover:bg-secondary rounded-lg">
							<div
								class:list={[
									'border-y-[1px]  border-secondary py-4 my-[-1px]',
									{ 'border-t-0 mt-0': idx === 0 },
									{ 'border-b-0 mb-0': idx === posts.length - 1 },
								]}
							>
								<a href={`/${post.slug}/`}>
									<h4 class="mb-1 text-2xl font-bold text-foreground">{post.data.title}</h4>
									<p class="text-lg text-foreground pb-2">{post.data.description}</p>
									<p class="text-sm">
										<time datetime={post.data.pubDate.toISOString()}>
											<FormattedDate date={post.data.pubDate} />
										</time>
									</p>
								</a>
							</div>
						</li>
					))
				}
			</ul>
		</section>
	</main>
</BasicLayout>
